.exchange-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 960px;
}

.exchange-section {
  display: grid;
  justify-content: center;
}

.exchange-container {
  display: flex;
  margin-bottom: 5px;
  width: 100%;
  background-color: #63d4b2;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.amount {
  width: 50%;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.amount p {
  color: white;
  text-align: center;
}

.exchange-input {
  margin: 5px;
  border: none;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.exchange-output {
  margin: 5px;
  border: none;
  text-align: center;
}

.exchange-button {
  color: white;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  border: none;
}

.exchange-button p {

}

.exchange-button:active {
  background-color: #83d8c3;
}

.button-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.reset-button {
  color: white;
  max-width: 20vw;
  text-align: center;
  padding: 16px;
  margin: auto;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.reset-button:active {
  background-color: #83d8c3;
}