.footer {
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.footer-text {
  font-size: 10px;
}

.refresh-button {
  padding: 5px;
  border-radius: 90px;
}

.refresh-button:active {
  background-color: #83d8c3;
}

.refresh-button:hover {
  cursor: pointer;
}