@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(25, 25, 25);
}

body {
  max-width: 600;
  justify-content: center;
}

.header {
  display: flex;
  background-color: teal;
  border-bottom: 1px black;
  justify-content: center;
}

.header-title {
  display: flex;
}

.main {
  display: grid;
  background-color: white;
  place-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: teal;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
}

.currency-select-container {
  display: flex;
  justify-content: center;
}

.currency-input-container {
  display: flex;
  justify-content: center;
}

.currency-output-container {
  display: flex;
  justify-content: center;
}

.currency-button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.currency-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list-item {
  margin: 5px;
  width: 20%;
}