@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(25, 25, 25);
}

body {
  place-items: center;
  background-color: teal;
}

.header {
  display: flex;
  background-color: teal;
  border-bottom: 1px black;
  justify-content: center;
  width: 100vw;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100vw; 
}

.main {
  display: grid;
  background-image: linear-gradient(black, teal);
  background-size: cover;
  place-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-image: linear-gradient(black, teal);
  background-size: cover;
  width: 97vw;
  height: 90%;
  justify-content: center;
  place-items: center;
  padding: 5px;
  z-index: 0;
}

.exchange-container {
  display: flex;
  margin: 5px;
  background-color: #63d4b2;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.amount {
  width: 50%;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.amount p {
  color: white;
  text-align: center;
  margin : 0 auto;
}

.exchange-input {
  margin: 5px;
  border: none;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.exchange-output {
  margin: 5px;
  border: none;
  width: 90%;
  text-align: center;
}

.exchange-button {
  color: white;
  text-align: center;
  width: 50%;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #63d4b2;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.exchange-button:active {
  background-color: #3e8e41;
}

.currency-button {
  color: white;
  text-align: center;
  width: 50%;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.currency-list-content {
  display: none;
  height: 60vw;
  width: 90vw;
  overflow: scroll;
  background-color: #f9f9f9;
  color: black;
  margin-top: 0%;
  padding: 12px 16px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.currency-list-content:hover .currency-list-content {
  display: block;
}

.currency-button:hover {
  background-color: #3e8e41;
}

.currency-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list-item {
  margin: 5px;
  width: 20%;
}

.list-item:hover {
  background-color: #f1f1f1;
}