@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(25, 25, 25);
}

body {
  max-width: 600;
  justify-content: center;
}

.header {
  display: flex;
  background-color: teal;
  border-bottom: 1px black;
  justify-content: center;
}

.header-title {
  display: flex;
}

.main {
  display: grid;
  background-color: white;
  place-items: center;
}

.main-container {
  width: 90%;
  background-color: teal;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
}
